* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

@media screen and (min-width: 375px) {
    .header {
        font-size: 28px;
    }
    .lpage {
        &__heading {
            font-size: 34px;
        }
        &__btn {
            a {
                font-size: 16px;
            }
        }
    }
    .about {
        &__heading {
            font-size: 31px;
        }


        &__heading:after {
            width: 128px;
        }

        &__about-me {
            font-size: 16px;
        }
        &__stack {
            &__heading {
                font-size:28px;
            }
            i {
                font-size: 28px;
            }
        }
        &__skills {
            &__heading {
                font-size:28px;
            }
            i {
                font-size: 28px;
            }
        }
        &__arrows {
            font-size: 28px;
        }
    }
    .portfolio {
        &__heading {
            font-size: 31px;
        }
        &__heading:after {
            width: 166px;
        }
        &__filter {
            font-size: 16px;
        }
    }
    .contact {
        &__heading {
            font-size: 31px;
        }
        &__heading:after {
            width: 157px;
        }
        &__email {
            font-size: 16px;
        }
        &__links {
            &__link{
                &__linkedin {
                    font-size: 28px;
                }
                &__github {
                    font-size: 28px;
                }
                &__cv {
                    font-size: 28px;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .header {
        font-size: 18px;
        &__nav {
            display: none;
        }
        &__tablet-nav {
            display: block;
            flex: 5;
        }
        &__socials {
            &__social1 {
                margin-right: 30px;
            }
            &__social2 {
                margin-right: 30px;
            }
        }
    }
    .lpage {
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr 1fr;
        &__heading {
            font-size: 39px;
            align-self: end;
            justify-self: start;
            text-align: left;
        }
        &__btn {
            grid-row: 2 / 3;
            grid-column: 1 / 2;
            align-self: start;
            justify-self: start;
            a {
                font-size: 18px;
            }
        }
        &__torch {
            grid-column: 2 / 3;
            grid-row: 1 / 3;
            height: 70%;
        }
    }
    .about {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto 1fr auto;
        &__heading {
            grid-column: 1 / 3;
            font-size: 36px;
        }
        &__heading:after {
            width: 149px;
        }
        &__about-me {
            grid-column: 1 / 3;
            font-size: 19px;
        }
        &__stack {
            grid-column: 1 / 2;
            &__heading {
                font-size: 32px;
            }
            i {
                font-size: 32px;
            }
        }
        &__skills {
            grid-column: 2 / 3;
            &__heading {
                font-size: 32px;
            }
            i {
                font-size: 32px;
            }
        }
        &__arrows {
            grid-column: 1 / 3;
            font-size: 32px;
        }
    }
    .portfolio {
        &__heading {
            font-size: 36px;
        }
        &__heading:after {
            width: 192px;
        }
        &__filter {
            font-size: 19px;
        }
        &__gallery {
            grid-template-columns: 1fr 1fr;
            &__project {
                width: 100%;
            }
        }
    }
    .contact {
        &__heading {
            font-size: 36px;
        }
        &__heading:after {
            width: 182px;
        }
        &__email {
            font-size: 19px;
        }
        &__links {
            &__link {
                &__linkedin {
                    font-size: 32px;
                }
                &__github {
                    font-size: 32px;
                }
                &__cv {
                    font-size: 32px;
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .header {
        font-size: 27px;
    }
    .lpage {
        &__heading {
            font-size: 60px;
        }
        &__btn {
            padding: 16px 0px;
            width: 320px;
            a {
                font-size: 28px;
            }
        }
    }
    .about {
        &__heading {
            font-size: 54px;
        }
        &__heading:after {
            width: 223px;
        }
        &__about-me {
            font-size: 28px;
        }
        &__stack {
            &__heading {
                font-size: 49px;
            }
            i {
                font-size: 49px;
            }
        }
        &__skills {
            &__heading {
                font-size: 49px;
            }
            i {
                font-size: 49px;
            }
        }
        &__arrows {
            font-size: 49px;
        }
    }
    .portfolio {
        &__heading {
            font-size: 54px;
        }
        &__heading:after {
            width: 288px;
        }
        &__filter {
            font-size: 28px;
        }
        &__gallery {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
    .contact {
        &__heading {
            font-size: 54px;
        }
        &__heading:after {
            width: 273px;
        }
        &__email {
            font-size: 28px;
        }
        &__links {
            &__link {
                &__linkedin {
                    font-size: 49px;
                }
                &__github {
                    font-size: 49px;
                }
                &__cv {
                    font-size: 49px;
                }
            }
        }
    }
}

// @media screen and (min-width: 1440px) {
//     .header {
//         font-size: 39px;
//     }
//     .lpage {
//         &__heading {
//             font-size: 86px;
//         }
//         &__btn {
//             font-size: 28px;
//             padding: 25px 0px;
//             width: 500px;
//         }
//     }
//     .about {
//         &__h2 {
//             font-size:78px;
//         }
//         &__h2:after {
//             width: 322px;
//         }
//         &__p {
//             font-size: 42px;
//         }
//         &__stack {
//             &__h3 {
//                 font-size: 70px;
//             }
//             i {
//                 font-size: 70px;
//             }
//         }
//         &__skills {
//             &__h3 {
//                 font-size: 70px;
//             }
//             i {
//                 font-size: 70px;
//             }
//         }
//         &__arrows {
//             font-size: 70px;
//         }
//     }
//     .portfolio {
//         &__h2 {
//             font-size:78px;
//         }
//         &__h2:after {
//             width: 416px;
//         }
//         &__ul {
//             font-size: 42px;
//         }
//         &__gallery {
//             grid-template-columns: 1fr 1fr 1fr;
//         }
//     }
//     .contact {
//         &__h2 {
//             font-size: 78px;
//         }
//         &__h2:after {
//             width: 394px;
//         }
//         &__p {
//             font-size: 42px;
//         }
//         &__links {
//             &__i1 {
//                 font-size: 70px;
//             }
//             &__i2 {
//                 font-size: 70px;
//             }
//             &__i3 {
//                 font-size: 70px;
//             }
//         }
//     }
// }