body {
    background-color: #141414;
    color: #FBF8FD;
}

.header {
    height: 5vh;
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__socials {
        &__i1 {
            margin-right: 20px;
        }
        &__i2 {
            margin-right: 20px;
        }
    }
}

.lpage {
    &__h1 {
        text-align: center;
        justify-self: center;
        align-self: center;
        text-align: center;
        font-family: "Inter", sans-serif;
        font-size: 30px;
        margin-top: 30px;
        &__span {
            color: #AB20FD;
        }
        
    }
    &__btn {
        justify-self: center;
        align-self: center;
        padding: 13px 60px;
        background-color: #AB20FD;
        border-radius: 25px;
        border: 0px;
        width: 225px;
        font-family: "Roboto", sans-serif;
        color: #FBF8FD;
        font-size: 14px;
    }
    &__img {
        justify-self: center;
        align-self: center;
    }
}

.about {
    &__h2 {
        font-size: 27px;
        align-self: center;
        justify-self: center;
    }
    &__p {
        font-size: 14px;
        text-align: center;
        align-self: center;
        justify-self: center;

    }
    &__stack {
        border: 5px solid #AB20FD;
        padding: 20px;
        &__h3 {
            font-size: 25px;
            align-self: center;
            justify-self: center;
        }
        i {
            font-size: 25px;
            align-self: center;
            justify-self: center;
        }
        
    }
    &__skills {
        border: 5px solid #AB20FD;
        padding: 20px;
        &__h3 {
            font-size: 25px;
            align-self: center;
            justify-self: center;
        }
        i {
            font-size: 25px;
            align-self: center;
            justify-self: center;
        }
    }
    &__arrows {
        align-self: center;
        justify-self: center;
        font-size: 25px;
        color: #7D12FF;
    }
}

.portfolio {
    &__h2{
        font-size: 27px;
        align-self: center;
        justify-self: center;
    }
    &__ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        &__li1 {
            background-color: #AB20FD;
            padding: 5px;
        }
    }
    &__gallery {
        &__img {
            width: 80%;
            align-self: center;
            justify-self: center;
        }
    }
}