.lpage {
    min-height: 95vh;
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-gap: 15px;
    justify-content: center;
    align-content: center;
}

.about {
    width: 90%;
    margin: auto;
    display: grid;
    grid-gap: 30px;
    &__stack {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto 1fr 1fr 1fr 1fr;
        grid-gap: 20px;
        align-items: center;
        justify-items: center;
        justify-content: center;
        &__h3 {
            grid-column: 1 / 4;

        }
    }
    &__skills {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        grid-gap: 20px;
        align-items: center;
        justify-content: center;
    }
}

.portfolio {
    width: 90%;
    margin: 5vh auto 0px auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
}

.contact {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-gap: 30px;
}
