body {
  background-color: #1f2026;
  color: #FBF8FD;
  font-family: "Roboto", sans-serif;
}

.header {
  min-height: 5vh;
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
  font-size: 24px;
}
.header__socials__i1 {
  margin-right: 20px;
}
.header__socials__i2 {
  margin-right: 20px;
}

.lpage__h1 {
  text-align: center;
  justify-self: center;
  align-self: center;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 29px;
  margin-top: 30px;
}
.lpage__h1__span1 {
  color: #2667FF;
}
.lpage__h1__span2 {
  color: #3F8EFC;
}
.lpage__btn {
  justify-self: center;
  align-self: center;
  padding: 13px 0px;
  background-color: #3F8EFC;
  border-radius: 25px;
  border: 0px;
  width: 225px;
  font-family: "Roboto", sans-serif;
  color: #FBF8FD;
  text-align: center;
  font-size: 14px;
  outline: none;
}
.lpage__img {
  justify-self: center;
  align-self: center;
  margin-top: 30px;
  height: 80%;
}

.about__h2 {
  font-size: 27px;
  align-self: center;
  justify-self: center;
  font-family: "Inter", sans-serif;
}
.about__h2:after {
  display: block;
  height: 3px;
  width: 100px;
  background-color: #3F8EFC;
  content: "";
  margin: 10px auto 0px auto;
}
.about__p {
  font-size: 14px;
  text-align: center;
  align-self: center;
  justify-self: center;
}
.about__stack {
  border: 5px solid #2667FF;
  border-radius: 50px;
  padding: 20px;
}
.about__stack__h3 {
  font-size: 24px;
  align-self: center;
  justify-self: center;
}
.about__stack i {
  font-size: 24px;
  align-self: center;
  justify-self: center;
}
.about__skills {
  border: 5px solid #2667FF;
  border-radius: 50px;
  padding: 20px;
}
.about__skills__h3 {
  font-size: 24px;
  align-self: center;
  justify-self: center;
}
.about__skills i {
  font-size: 24px;
  align-self: center;
  justify-self: center;
}
.about__arrows {
  align-self: center;
  justify-self: center;
  font-size: 24px;
  color: #3B28CC;
}

.portfolio__h2 {
  font-size: 27px;
  align-self: center;
  justify-self: center;
  font-family: "Inter", sans-serif;
}
.portfolio__h2:after {
  display: block;
  height: 3px;
  width: 122px;
  background-color: #3F8EFC;
  content: "";
  margin: 10px auto 0px auto;
}
.portfolio__ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  font-size: 14px;
}
.portfolio__ul__li1 {
  background-color: #2667FF;
  padding: 5px;
}
.portfolio__gallery__img {
  width: 80%;
  align-self: center;
  justify-self: center;
}

.contact {
  background-color: #272a2f;
}
.contact__h2 {
  margin-top: 5vh;
  align-self: center;
  justify-self: center;
  font-family: "Inter", sans-serif;
}
.contact__h2:after {
  display: block;
  height: 3px;
  width: 102px;
  background-color: #3F8EFC;
  content: "";
  margin: 10px auto 0px auto;
}
.contact__p {
  justify-self: center;
  align-self: center;
  color: #2667FF;
  font-size: 14px;
}
.contact__links {
  justify-self: center;
  align-self: center;
}
.contact__links__i1 {
  font-size: 25px;
  background-color: #3B28CC;
  border-radius: 50%;
  padding: 10px;
  margin-right: 30px;
  margin-bottom: 5vh;
}
.contact__links__i2 {
  font-size: 25px;
  background-color: #3B28CC;
  border-radius: 50%;
  padding: 10px;
  margin-right: 30px;
  margin-bottom: 5vh;
}
.contact__links__i3 {
  font-size: 25px;
  background-color: #3B28CC;
  border-radius: 50%;
  padding: 10px;
  margin-bottom: 5vh;
}

.lpage {
  min-height: 95vh;
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-rows: auto auto 1fr;
  grid-gap: 10px;
}

.about {
  min-height: 95vh;
  width: 90%;
  margin: 5vh auto 0px auto;
  display: grid;
  grid-template-rows: auto auto 1fr 1fr auto;
  grid-gap: 30px;
}
.about__stack {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}
.about__stack__h3 {
  grid-column: 1/4;
}
.about__skills {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto auto;
  grid-gap: 20px;
}
.about__skills__h3 {
  grid-column: 1/4;
}

.portfolio {
  min-height: 95vh;
  width: 90%;
  margin: 5vh auto 0px auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto auto;
  grid-gap: 30px;
}
.portfolio__gallery {
  display: grid;
  grid-template-columns: 1fr;
}

.contact {
  width: 100%;
  margin: 0px auto 0px auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-gap: 30px;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

@media screen and (min-width: 375px) {
  .lpage__h1 {
    font-size: 34px;
  }
  .lpage__btn {
    font-size: 16px;
  }

  .about__h2 {
    font-size: 31px;
  }
  .about__p {
    font-size: 16px;
  }
  .about__stack__h3 {
    font-size: 28px;
  }
  .about__stacki {
    font-size: 28px;
  }
  .about__skills__h3 {
    font-size: 28px;
  }
  .about__skillsi {
    font-size: 28px;
  }
  .about__arrows {
    font-size: 28px;
  }

  .portfolio__h2 {
    font-size: 31px;
  }
  .portfolio__ul {
    font-size: 16px;
  }

  .contact__h2 {
    font-size: 31px;
  }
  .contact__p {
    font-size: 16px;
  }
  .contact__links__i1 {
    font-size: 28px;
  }
  .contact__links__i2 {
    font-size: 28px;
  }
  .contact__links__i3 {
    font-size: 28px;
  }
}
@media screen and (min-width: 768px) {
  .lpage {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .lpage__h1 {
    font-size: 39px;
    align-self: end;
    justify-self: start;
    text-align: left;
  }
  .lpage__btn {
    grid-row: 2/3;
    grid-column: 1/2;
    align-self: start;
    justify-self: start;
    font-size: 18px;
  }
  .lpage__img {
    grid-column: 2/3;
    grid-row: 1/3;
  }

  .about {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto 1fr auto;
  }
  .about__h2 {
    grid-column: 1/3;
    font-size: 36px;
  }
  .about__h2:after {
    width: 120px;
  }
  .about__p {
    grid-column: 1/3;
    font-size: 19px;
  }
  .about__stack {
    grid-column: 1/2;
  }
  .about__stack__h3 {
    font-size: 32px;
  }
  .about__stack i {
    font-size: 32px;
  }
  .about__skills {
    grid-column: 2/3;
  }
  .about__skills__h3 {
    font-size: 32px;
  }
  .about__skills i {
    font-size: 32px;
  }
  .about__arrows {
    grid-column: 1/3;
    font-size: 32px;
  }

  .portfolio__h2 {
    font-size: 36px;
  }
  .portfolio__h2:after {
    width: 163px;
  }
  .portfolio__ul {
    font-size: 19px;
  }
  .portfolio__gallery {
    grid-template-columns: 1fr 1fr;
  }
  .portfolio__gallery__img {
    width: 100%;
  }

  .contact__h2 {
    font-size: 36px;
  }
  .contact__h2:after {
    width: 153px;
  }
  .contact__p {
    font-size: 19px;
  }
  .contact__links__i1 {
    font-size: 32px;
  }
  .contact__links__i2 {
    font-size: 32px;
  }
  .contact__links__i3 {
    font-size: 32px;
  }
}
@media screen and (min-width: 1024px) {
  .lpage__h1 {
    font-size: 60px;
  }
  .lpage__btn {
    font-size: 28px;
    padding: 16px 0px;
    width: 320px;
  }

  .about__h2 {
    font-size: 54px;
  }
  .about__p {
    font-size: 28px;
  }
  .about__stack__h3 {
    font-size: 49px;
  }
  .about__stack i {
    font-size: 49px;
  }
  .about__skills__h3 {
    font-size: 49px;
  }
  .about__skills i {
    font-size: 49px;
  }
  .about__arrows {
    font-size: 49px;
  }

  .portfolio__h2 {
    font-size: 54px;
  }
  .portfolio__ul {
    font-size: 28px;
  }
  .portfolio__gallery {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .contact__h2 {
    font-size: 54px;
  }
  .contact__p {
    font-size: 28px;
  }
  .contact__links__i1 {
    font-size: 49px;
  }
  .contact__links__i2 {
    font-size: 49px;
  }
  .contact__links__i3 {
    font-size: 49px;
  }
}