body {
  background-color: #141414;
  color: #FBF8FD;
  font-family: "Roboto", sans-serif;
}

.header {
  height: 5vh;
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
  font-size: 24px;
}
.header__socials__i1 {
  margin-right: 20px;
}
.header__socials__i2 {
  margin-right: 20px;
}

.lpage__h1 {
  text-align: center;
  justify-self: center;
  align-self: center;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 29px;
  margin-top: 30px;
}
.lpage__h1__span1 {
  color: #7D12FF;
}
.lpage__h1__span2 {
  color: #AB20FD;
}
.lpage__btn {
  justify-self: center;
  align-self: center;
  padding: 13px 60px;
  background-color: #AB20FD;
  border-radius: 25px;
  border: 0px;
  width: 225px;
  font-family: "Roboto", sans-serif;
  color: #FBF8FD;
  font-size: 14px;
}
.lpage__img {
  justify-self: center;
  align-self: center;
}

.about__h2 {
  font-size: 27px;
  align-self: center;
  justify-self: center;
  font-family: "Inter", sans-serif;
}
.about__h2:after {
  display: block;
  height: 2px;
  width: 100px;
  background-color: #200589;
  content: "";
  margin: 10px auto 0px auto;
}
.about__p {
  font-size: 14px;
  text-align: center;
  align-self: center;
  justify-self: center;
}
.about__stack {
  border: 5px solid #7D12FF;
  padding: 20px;
}
.about__stack__h3 {
  font-size: 24px;
  align-self: center;
  justify-self: center;
}
.about__stack i {
  font-size: 24px;
  align-self: center;
  justify-self: center;
}
.about__skills {
  border: 5px solid #7D12FF;
  padding: 20px;
}
.about__skills__h3 {
  font-size: 24px;
  align-self: center;
  justify-self: center;
}
.about__skills i {
  font-size: 24px;
  align-self: center;
  justify-self: center;
}
.about__arrows {
  align-self: center;
  justify-self: center;
  font-size: 24px;
  color: #AB20FD;
}

.portfolio__h2 {
  font-size: 27px;
  align-self: center;
  justify-self: center;
  font-family: "Inter", sans-serif;
}
.portfolio__h2:after {
  display: block;
  height: 2px;
  width: 100px;
  background-color: #200589;
  content: "";
  margin: 10px auto 0px auto;
}
.portfolio__ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  font-size: 14px;
}
.portfolio__ul__li1 {
  background-color: #AB20FD;
  padding: 5px;
}
.portfolio__gallery__img {
  width: 80%;
  align-self: center;
  justify-self: center;
}

.contact__h2 {
  align-self: center;
  justify-self: center;
  font-family: "Inter", sans-serif;
}
.contact__h2:after {
  display: block;
  height: 2px;
  width: 100px;
  background-color: #200589;
  content: "";
  margin: 10px auto 0px auto;
}
.contact__links {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.contact__links__i {
  font-size: 25px;
  border: 2px solid #AB20FD;
  border-radius: 50%;
  padding: 10px;
}

.lpage {
  height: 95vh;
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-rows: auto auto 1fr;
  grid-gap: 10px;
}

.about {
  width: 90%;
  margin: 5vh auto 0 auto;
  display: grid;
  grid-template-rows: auto auto 1fr 1fr auto;
  grid-gap: 30px;
}
.about__stack {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 20px;
}
.about__stack__h3 {
  grid-column: 1/4;
}
.about__skills {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 20px;
}
.about__skills__h3 {
  grid-column: 1/4;
}

.portfolio {
  width: 90%;
  margin: 5vh auto 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-gap: 30px;
}
.portfolio__gallery {
  display: grid;
  grid-template-columns: 1fr;
}

.contact {
  width: 90%;
  margin: 5vh auto 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-gap: 30px;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  .lpage {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .lpage__h1 {
    font-size: 39px;
    align-self: end;
    justify-self: start;
    text-align: left;
  }
  .lpage__btn {
    grid-row: 2/3;
    grid-column: 1/2;
    align-self: start;
    justify-self: start;
  }
  .lpage__img {
    grid-column: 2/3;
    grid-row: 1/3;
  }

  .about {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto 1fr auto;
  }
  .about__h2 {
    grid-column: 1/3;
    font-size: 36px;
  }
  .about__p {
    grid-column: 1/3;
    font-size: 19px;
  }
  .about__stack {
    grid-column: 1/2;
  }
  .about__stack__h3 {
    font-size: 32px;
  }
  .about__stack i {
    font-size: 32px;
  }
  .about__skills {
    grid-column: 2/3;
  }
  .about__skills__h3 {
    font-size: 32px;
  }
  .about__skills i {
    font-size: 32px;
  }
  .about__arrows {
    grid-column: 1/3;
    font-size: 32px;
  }

  .portfolio__h2 {
    font-size: 36px;
  }
  .portfolio__ul {
    font-size: 19px;
  }
  .portfolio__gallery {
    grid-template-columns: 1fr 1fr;
  }
  .portfolio__gallery__img {
    width: 100%;
  }

  .contact__h2 {
    font-size: 36px;
  }
  .contact__links {
    font-size: 32px;
  }
}