.contact {
    background-color: #272a2f;
    &__heading {
        margin-top: 75px;
        align-self: center;
        justify-self: center;
        font-family: "Inter", sans-serif;
    }
    &__heading:after {
        display: block;
        height: 3px;
        width: 122px;
        background-color: #3F8EFC;
        content: "";
        margin: 10px auto 0px auto;
    }
    &__links {
        justify-self: center;
        align-self: center;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 0;
        &__memoji {
            cursor: pointer;
            height: 25px;
            margin-right: 30px;
            color: inherit;
            text-decoration: inherit;
            img {
                height: 25px;
            }
            img:hover {
                transform: scale(1.25);
            }
        }
        &__link{
            &__linkedin {
                cursor: pointer;
                font-size: 25px;
                margin-right: 30px;
                color: #3F8EFC;
            }
            &__github {
                cursor: pointer;
                font-size: 25px;
                margin-right: 30px;
                color: #3F8EFC;
            }
            &__cv {
                cursor: pointer;
                font-size: 25px;
                margin-right: 30px;
                color: #3F8EFC;
            }
            &__email {
                cursor: pointer;
                font-size: 25px;
                color: #3F8EFC;;
            }
            &__linkedin:hover, &__github:hover, &__cv:hover, &__email:hover {
                color: white;
                transform: scale(1.25);
            }
        }
    }
    &__legal {
        color: #3F8EFC;
        justify-self: center;
        align-self: center;
        margin-bottom: 75px;
    }
}