.lpage {
    &__heading {
        text-align: center;
        justify-self: center;
        align-self: center;
        text-align: center;
        font-family: "Inter", sans-serif;
        font-size: 29px;
        animation: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        z-index: 0;
        &__semicolon {
            color: white;
        }
        &__karan {
            color: #3F8EFC;
        }
        &__hey {
            border-right: solid white 4px;
        }
    }
    &__explore{
        justify-self: center;
        align-self: center;
        width: 225px;
        animation: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        z-index: 0;
        &__btn {
            padding: 13px 0px;
            background-color: #3F8EFC;
            border-radius: 25px;
            border: 0px;
            width: 100%;
            cursor: pointer;
            outline: none;
            font-family: "Roboto", sans-serif;
            color: #FBF8FD;
            text-align: center;
            font-size: 14px;
        }
        &__btn:hover {
            background-color: #ffffff;
            color: #3F8EFC;
        }
    }
    &__memoji {
        justify-self: center;
        align-self: center;
        height: 250px;
        animation: slide-in-right 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        z-index: 0;
    }
    &__quote-container {
        display: none;
        z-index: 0;
        &__quote {
        display: grid;
        grid-template-columns: auto 1fr auto;
        grid-template-rows: auto auto;
        grid-gap: 20px;
        animation: slide-in-top 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        &__left-quote {
            font-size: 32px;
            color: #3F8EFC;
        }
        &__right-quote {
            grid-column: 3 / 4;
            font-size: 32px;
            color: #3F8EFC
        }
        &__text {
            grid-column: 2 / 3;
            font-size: 18px;
            text-align: center;
        }
        }   
    }
}